
// Color
  $color-header-background: #2d303a;
  $color-header-border: #323746;
  $color-header-text-color: #fff;

  $color-slider-background: #f06c64;
  $color-slider-border: #ea676b;

  $color-services-background: #f2f2f2;
  $color-services-border: #fff;
  $color-services-title: #666d89;
  $color-services-text: #767e9e;

  $color-portfolio-background: #2d303a;
  $color-portfolio-border: #323746;
  $color-portfolio-title: #666d89;
  $color-portfolio-text: #767e9e;

  $color-aboutUs-background: #f2f2f2;
  $color-aboutUs-border: #fff;
  $color-aboutUs-title: #666d89;
  $color-aboutUs-text: #767e9e;

  $color-quote-background: #f06c64;
  $color-quote-border: #ea676b;
  $color-quote-input-background: #d6564f;
  $color-quote-input-text: #f48c8f;
  $color-quote-title: #f0d8d9;
  $color-quote-text: #f0d8d9;

  $color-footer-background: #2d303a;
  $color-footer-text: #666d89;

  $color-outline: #FBC65F;
  $color-light: #ffffff;

// Content width
  $content-width: 1020px;

// Padding
  $content-padding-side: 2.5em;

// Z-index
  $z-index-header: 100;
  $z-index-slider-button: 50;
  $z-index-iphone-base: 5;
  $z-index-iphone-screen: 10;

// Other
  $header-height: calc(2em + 1.5625rem + 2em + 6px);