
.employee-card {
  display: flex;
  flex-direction: column;
}

.employee-card__img {
  width: 100%;
  height: auto;
}

.employee-card__title {
  margin-top: 0.8em;
  margin-left: -0.0555em;
  color: $color-aboutUs-title;
  word-spacing: 0.04em;
  letter-spacing: -0.006em;
}

.employee-card__text {
  flex-grow: 1;
  margin-top: 0.83em;
  margin-left: -0.045em;
  @include font ($size: 0.75rem, $height: 1.82, $weight: 400);
  color: $color-aboutUs-text;
}

.employee-card__socials {
  margin-top: 1.49em;

  @include media-laptop {
    margin-top: 0.75em;
  }
}