
.modal--hidden {
  display: none;
}

.modal--visible {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: $z-index-form-modal;
}

.modal__message {
  padding: 1.5em 2em;
  max-width: 50vw;
  border-radius: 5px;
  border: 2px solid $color-footer-background;
  background-color: $color-services-background;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
  
  @include media-laptop {
    max-width: 60vw;
  }

  @include media-tablet {
    max-width: 70vw;
  }

  @include media-mobile-landscape {
    max-width: 90vw;
  }

  @include media-mobile {
    max-width: 95vw;
  }
}

.message__title {
  padding-right: 1em;
  margin-bottom: 1em;
  color: $color-footer-background;
  text-transform: uppercase;
  word-spacing: 0.4em;
  white-space: normal;
}

.message__text {
  padding-right: 1em;
  margin-bottom: 1em;
  @include font ($size: 1.125rem, $height: 1.4, $weight: 400);
  color: $color-footer-background;
  word-wrap: break-word;
  cursor: auto;

  &--limit-height {
    max-height: 30vh;
    padding-right: calc(1em - 6px);
    border-top: 1px solid $color-footer-background;
    overflow-y: scroll;
  }
  
  &--limit-height::-webkit-scrollbar {
    width: 6px;
  }
  
  &--limit-height::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $color-slider-background;
  }
  
  &--limit-height::-webkit-scrollbar-track {
    background-color: inherit;
  }
}

.message__text + .message__text {
  margin-bottom: 0;
}

.message__btn {
  float: right;
  margin-top: 1.5em;
  margin-right: 1.1428em;
  padding: 0.75em 2.5em;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: $color-outline;
  @include font ($size: 0.875rem, $height: 1, $weight: 700);
  color: $color-footer-background;
  text-transform: uppercase;
  overflow: hidden;
  @extend %transition-bgColor-color-400-linear;
  cursor: pointer;

  &:active {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    outline: none;
  }

  @include media-hover {
    &:hover {
      color: $color-services-background;
      background-color: $color-footer-background;
      outline: none;
    }
  }
}
