
.quote {
  padding: 3.85em 0 1.2em 0;
  background-color: $color-quote-background;
  border-bottom: 6px solid $color-quote-border;
  scroll-margin-top: $header-height;
}

.quote__title {
  color: $color-quote-title;
  letter-spacing: -0.005em;

  & > .pixel-perfect {
    text-transform: initial;
  }
}

.quote__text {
  margin-top: 1.175em;
  @include font ($size: 1.125rem, $height: 1.67, $weight: 300);
  color: $color-quote-text;
}

.flex-2-column {
  margin-top: 2.75em;
  display: flex;
  justify-content: space-between;
}
