
.portfolio {
  padding: 59px 0 calc(67px - 5px) 0;
  background-color: $color-portfolio-background;
  border-bottom: 6px solid $color-portfolio-border;
  scroll-margin-top: calc( #{$header-height} - 5px );

  @include media-tablet {
    $ratio-padding-top: calc(( 59 - 42 ) / ( 768 - 640 ));
    $ratio-padding-bottom: calc(( 62 - 31 ) / ( 768 - 640 ));

    padding-top: calc( 59px - ( 768px - 100vw ) * #{$ratio-padding-top} );
    padding-bottom: calc( 62px - ( 768px - 100vw ) * #{$ratio-padding-bottom} );
  }

  @include media-mobile-landscape {
    padding-top: 42px;
    padding-bottom: 31px;
    border-bottom-color: $color-portfolio-background;
    scroll-margin-top: calc( #{$header-height-mobile} - 5px );
  }
}

.portfolio__title {
  color: $color-portfolio-title;
  letter-spacing: -0.0065em;
}

.portfolio__text {
  margin-top: 0.9833em;
  @include font ($size: 1.125rem, $height: 1.67, $weight: 300);
  color: $color-portfolio-text;
}

.portfolio__tabs {
  margin-top: 11.2px;

  @include media-laptop {
    $ratio-margin-top: calc(( 15 - 11.2 ) / ( 1020 - 768 ));
    margin-top: calc( 11.2px + ( 1020px - 100vw ) * #{$ratio-margin-top} );
  }

  @include media-tablet {
    margin-top: 15px;
  }
}

.tabs-list {
  display: flex;
  flex-wrap: wrap;
}

.tabs-list__item {
  margin-right: 0.625em;
  
  @include media-mobile {
    margin-right: 0.5em;
    margin-bottom: 0.25em;
  }
}

.portfolio-tab {
  height: 100%;
  padding: 0.33333em 0.5em;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid $color-portfolio-title;
  @include font ($size: 0.75rem, $height: 1, $weight: 400);
  color: $color-portfolio-text;
  word-spacing: 0.01em;
  letter-spacing: -0.0007em;
  white-space: nowrap;
  @extend %transition-all-150-linear;

  @include media-mobile {
    padding: 0.75em 0.375em;
    @include font ($size: 0.7rem, $height: 1, $weight: 400);
  }

  &:focus {
    outline: 1px solid $color-outline;
    outline-offset: 1px;
  }
  
  @include media-hover {
    &:hover {
      border-color: #c5c5c5;
      outline: none;
    }
  }
  
  &:active {
    border-color: #c5c5c5;
    color: #dedede;
    outline: none;
  }
  
  &--active {
    border-color: #c5c5c5;
    color: #dedede;
  }
  
  &--active:focus {
    outline: none;
  }
}

.portfolio__images {
  margin-top: calc(19px - 5px);
  margin-left: -5px;
  margin-right: -5px;

  @include media-laptop {
    $ratio-margin-top: calc(( 20 - 14 ) / ( 1020 - 768 ));
    margin-top: calc( 14px + ( 1020px - 100vw ) * #{$ratio-margin-top} );
  }

  @include media-tablet {
    margin-top: 20px;
  }
}

.images-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: calc(1.25em - 10px);
  row-gap: calc(1.25em - 10px);
  overflow: hidden;
  user-select: none;

  @include media-laptop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  @include media-tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: calc(13px - 10px);
    row-gap: calc(14px - 10px);
  }
}

.images-list__item {
  border: 5px solid transparent;

  &:nth-child(n + 13) {
    display: none;
  }

  @include media-tablet {
    &:nth-child(n + 9) {
      display: none;
    }
  }

  &:focus {
    outline: 1px solid $color-outline;
    outline-offset: -1px;
  }
  
  @include media-hover {
    &:hover {
      outline: 1px solid $color-slider-background;
      outline-offset: -1px;
      transition: outline 0.4s linear;
    }
  }
  
  &:active,
  &--active,
  &--active:focus {
    border-color: $color-slider-background;
    outline: none;
  }
}

.portfolio__img {
  display: block;
  width: 100%;
  height: auto;
}

