
.slider {
  height: 600px;
  padding: 54px 0 27px 0;
  border-bottom-width: 6px;
  background-color: $color-slider-background;
  border-bottom-style: solid;
  border-bottom-color: $color-slider-border;
  scroll-margin-top: calc( #{$header-height} - 1px );

  @include media-laptop {
    height: calc(100vw * 451.76 / 768);
    padding-top: calc(100vw * 40.97 / 768);
    padding-bottom: calc(100vw * 19.95 / 768);
    border-bottom-width: calc(100vw * 4.52 / 768);
  }

  @include media-tablet {
    scroll-margin-top: calc( #{$header-height-mobile} - 1px );
  }
}

.slider__item1 {
  background-color: $color-slider-background;
  border-color: $color-slider-border;
  @extend %transition-bgColor-borderColor-800-linear;
}

.slider__item2 {
  background-color: #648BF0;
  border-color: #888BF0;
  @extend %transition-bgColor-borderColor-800-linear;
}

.slider__container {
  position: relative;
  width: 100%;
}

.slider-list {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  user-select: none;
}

.slider-list__item {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  animation: 0.8s ease-in-out;

  &:first-child {
    padding-bottom: 30px;

    @include media-laptop {
      padding-bottom: calc(100vw * 22.58 / 768);
    }
  }
}

.slider--active,
.slider--next {
  position: relative;
  display: flex;
}

.slider--next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.phone-container {
  position: relative;
  font-size: 0;
}

.phone-container + .phone-container {
  margin-left: 72px;
  
  @include media-laptop {
    margin-left: calc(100vw * 72 / 1020);
  }

  @include media-mobile {
    margin-left: calc( 26.47px - 26.47 * ( 375px - 100vw ) / 55 );
  }

  @include media-mobile-small {
    margin-left: 0;
  }
}

.phone__shadow {
  object-fit: contain;

  &.phone-vertical {
    width: 240px;
    height: 483px;
    
    @include media-laptop {
      width: calc(100vw * 240 / 1020);
      height: calc(100vw * 483 / 1020);
    }
  }

  &.phone-horizontal {
    width: 483px;
    height: 240px;
    
    @include media-laptop {
      width: calc(100vw * 483 / 1020);
      height: calc(100vw * 240 / 1020);
    }
  }

  &.phones-vertical {
    width: 517px;
    height: 513px;
    
    @include media-laptop {
      width: calc(100vw * 517 / 1020);
      height: calc(100vw * 513 / 1020);
    }
  }
}

.phone__base {
  position: absolute;
  height: auto;
  z-index: $z-index-iphone-base;
  cursor: pointer;
  
  &.phone-vertical {
    width: calc( 215 / 240 * 100%);
    top: 0;
    left: 0;
    border-radius: calc( 26 / 215 * 100%) / calc(26 / 458 * 100%);
  }

  &.phone-horizontal {
    width: calc( 458 / 483 * 100%);
    top: 0;
    left: 0;
    border-radius: calc( 26 / 458 * 100%) / calc( 26 / 215 * 100%);
  }

  &.phones-vertical {
    width: calc( 229 / 517 * 100% );
    top: 0;
    left: calc( 130.47 / 517 * 100%);
    border-radius: calc( 29 / 229 * 100%) / calc( 29 / 486 * 100%);
  }
}

.phone__display {
  position: absolute;
  z-index: $z-index-iphone-screen;
  cursor: pointer;
  @extend %transition-filter-400-linear;
  
  &.phone-vertical {
    height: 68.944%;
    width: 78.333%;
    top: 13.46%;
    left: 5.84%;
  }

  &.phone-horizontal {
    width: 68.944%;
    height: 78.333%;
    top: 5.84%;
    left: 12.43%;
  }

  &.phones-vertical {
    width: calc( 201 / 517 * 100% );
    height: calc( 354 / 513 * 100% );
    top: calc( 68.7 / 513 * 100%);
    left: calc( 144.3 / 517 * 100%);
  }

  &--off {
    filter: opacity(0);
  }
}
