
.logo {
  display: block;
  width: fit-content;
  position: relative;
  @include font ($size: 1.5625rem, $height: 1, $weight: 700);
  text-transform: uppercase;
  color: $color-header-text-color;
  letter-spacing: -0.02em;

  @include media-tablet {
    font-size: 20px;
  }

  &::after {
    content: "*";
    position: absolute;
    top: 0;
    left: 100%;
    color: $color-slider-background;
  }
}
