
.footer {
  padding: 1.375em 0 1.375em 0;
  background-color: $color-footer-background;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-mobile-landscape {
    justify-content: center;
  }
}

.footer__copyright {
  @include media-mobile-landscape {
    display: none;
  }
}
