
.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $content-padding-side;

  @include media-tablet {
    $ratio: calc(( 40 - 30 ) / ( 768 - 375 ));
    padding: 0 calc( #{$content-padding-side} - ( 768px - 100vw) * #{$ratio} );
  }

  @include media-mobile {
    padding: 0 $content-padding-side-mobile;
  }
}